<h2 class="text-center">Editar Perfil</h2>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email, "Correo Electrónico" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="alert alert-info">Actualmente esperando confirmación para: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group text-center">
          <%= f.label :profile_picture, "Foto de Perfil" %><br />
          <% if resource.profile_picture.attached? %>
            <%= image_tag resource.profile_picture, class: "img-thumbnail mb-3 rounded-circle", size: "150x150" %><br />
          <% end %>
          <%= f.file_field :profile_picture, class: "form-control-file mt-2" %>
        </div>

        <div class="form-group">
          <%= f.label :password, "Contraseña" %> <i>(déjalo en blanco si no deseas cambiarlo)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted"><%= @minimum_password_length %> caracteres como mínimo</small>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmar Contraseña" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password, "Contraseña Actual" %> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="text-center">
          <%= f.submit "Actualizar", class: "btn btn-primary mt-3" %>
        </div>
      <% end %>

      <h3 class="text-center mt-4">Cancelar mi cuenta</h3>

      <div class="text-center mb-3">
        <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?", turbo_confirm: "¿Estás seguro?" }, method: :delete, class: "btn btn-danger" %>
      </div>

      <div class="text-center">
        <%= link_to "Volver", :back, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

