<div id="<%= dom_id photograph %>">
  <p>
    <strong>Title:</strong>
    <%= photograph.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photograph.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= photograph.image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photograph.user_id %>
  </p>

</div>
