<h1>Nueva Fotografía</h1>

<%= form_for @photograph, html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.label :title, "Título" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image, "Imagen" %>
    <%= f.file_field :image, class: "form-control-file" %>
  </div>

  <div class="actions">
    <%= f.submit "Subir Fotografía", class: "btn btn-primary" %>
  </div>
<% end %>




