<div class="container mt-5">
  <h1><%= @photograph.title %></h1>
  <p><%= @photograph.description %></p>
  <%= image_tag @photograph.image, class: "img-fluid mb-4" if @photograph.image.attached? %>

  <h3>Comentarios</h3>
  <% @photograph.comments.each do |comment| %>
    <div class="media mt-3">
      <%= image_tag comment.user.profile_picture, class: "mr-3 rounded-circle", width: 50, height: 50 if comment.user.profile_picture.attached? %>
      <div class="media-body">
        <h5 class="mt-0"><%= comment.user.email %></h5>
        <p><%= comment.content %></p>
      </div>
    </div>
  <% end %>

  <% if current_user.is_karina? %>
    <%= link_to 'Editar', edit_photograph_path(@photograph), class: "btn btn-secondary mt-3" %>
    <%= link_to 'Eliminar', @photograph, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger mt-3" %>
  <% end %>
  <%= link_to 'Volver', photographs_path, class: "btn btn-primary mt-3" %>
</div>

