<h1><%= @photograph.title %></h1>
<img src="<%= url_for(@photograph.image) %>" alt="<%= @photograph.title %>" class="img-fluid">
<p><%= @photograph.description %></p>

<h2>Comentarios</h2>
<% @photograph.comments.each do |comment| %>
  <div class="comment mb-3">
    <div class="comment-user d-flex align-items-center">
      <img src="<%= url_for(comment.user.profile_picture) %>" alt="<%= comment.user.name %>" class="img-thumbnail mr-2" width="50">
      <strong><%= comment.user.name %></strong>
    </div>
    <p class="mt-2"><%= comment.content %></p>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= form_with model: [ @photograph, Comment.new ], local: true do |form| %>
    <div class="mb-3">
      <%= form.label :content, "Añadir un comentario" %>
      <%= form.text_area :content, class: "form-control" %>
    </div>
    <%= form.submit "Comentar", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <p><%= link_to "Inicia sesión", new_user_session_path %> para añadir un comentario.</p>
<% end %>
